<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>EastBid.com - 东方收藏网：2013邮品、钱币、书画拍卖日历即时更新；收藏网站大全，收藏圈里人的上网首页</title>
  <meta name="keywords" content="收藏,拍卖,邮品,邮票,钱币,纸钞,书画,拍卖日历,在线拍卖,社区,论坛,bbs,collection,auction,philately,coins,banknotes">
  <meta name="description" content="东方收藏网，收藏网站大全、收藏网址导航，提供最新最全的邮品、钱币、书画拍卖日历，新概念的收藏门户。">
  <title>BidSearch</title>
  <%= stylesheet_link_tag "application", "bootstrap.min.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "bootstrap.min.js", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
      .container {
          margin-top: 10px;
      }

      .navbar-inverse {
          background-color: #325da7;
          border-color: #4e78c2;
      }

      .navbar-inverse .navbar-brand {
          color: #fff;
      }

      .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
          color: #eee;
          background-color: #4e78c2;
      }

      .search {
          position: absolute;
          left: 50%;
          margin-left: -217px;
      }

      .result .item {
          margin-bottom: 20px;
      }

      /*.result .item .text{ padding-right: 180px; }*/
      /*.result .item .price{ width: 180px; padding-top: 3px;}*/
      /*.result .item .price p{ margin-bottom: 2px; text-align: center;}*/
      /*.result .item .price .info{ font-size: 85%; }*/
      .result .item .keywords {
          color: #d9534f;
          border-bottom: 1px dashed;
      }

      .result .item .pic-thumb {
          margin-right: 15px;
      }

      .result .item p {
          line-height: 1.3em;
      }

      .result .item .realized {
          font-weight: bold;
          color: #d9534f;
          margin-right: 20px;
      }

      .result .item .additional-info {
          font-size: 85%;
      }

      p label {
          margin-bottom: 0px;
      }

      .result .item .source-url {
          margin-top: -8px;
      }

      .row .main {
          padding-right: 60px;
      }

      .row .side {
          border-left: 1px solid gray;
      }

      footer {
          margin-top: 30px;
          color: #aaa;
          font-size: 12px;
      }

      #cnzz_stat_icon_5626282 {
          margin-right: auto;
          margin-left: auto;
          margin-bottom: 30px;
          padding-left: 15px;
          padding-right: 15px;
          max-width: 1170px;
      }
  </style>
</head>

<body>

<div class="container">

  <nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="http://www.eastbid.com/">EastBid.com 东方收藏网</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://www.eastbid.com/">收藏圈网址导航，圈里人的上网首页</a></li>
        <li><a href="http://rb.eastbid.com/feedbacks/new">热心反馈</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--
        <li><a href="#" onclick="addfavorite();">加入收藏</a></li>
        <li><a href="javascript:;" id="sethome_top" hidefocus="true" target="_self" class="sethome">设为首页</a></li>
        -->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>

  <div class="clearfix" style="height:60px;">
    <div class="search">
      <%= form_tag search_bid_items_path, :method => :get, :class => 'form-inline', :role => 'form' do %>
          <div class="form-group">
            <input type="text" name="keyword" class="form-control" id="keywords" size="48" placeholder="红印花">
          </div>
          <button type="submit" class="btn btn-danger">华邮全搜索</button>
      <% end %>
      <!--<form class="form-inline" role="form">-->
      <!--<div class="form-group">-->
      <!--<input type="text" class="form-control" id="keywords" size="48" placeholder="红印花">-->
      <!--</div>-->
      <!--<button type="submit" class="btn btn-danger">华邮全搜索</button>-->
      <!--</form>-->
    </div>
  </div>

  <div class="row">
    <%= yield %>
    <div class="col-md-4 cat side">
      手机app的广告<br/>
      反馈入口
    </div>
  </div>

  <footer>
    © 2011-2013 EastBid.com all rights reserved · 管理员QQ：2194916154，QQ群：315259891 ·
    <a href="http://rb.eastbid.com/feedbacks/new">点此联系我们，来信必复</a>
  </footer>

</div>
<!-- 东方收藏网 盛世收藏网 盛世东方收藏文化有限公司 -->
</body>
</html>



