<div class="col-md-8 cat main">
  <div class="result">
    <% unless @bid_items.blank? %>
        <% @bid_items.each do |bid| %>

            <div class="item clearfix">
              <div class="pic-thumb pull-left"><%= image_tag bid.small_img ,:size => "75x75" %></div>
              <div class="text">
                <p class="title"><%= link_to bid.highlight.title.join("").html_safe,bid ,:target => '_blank'%><br/><%= bid.condition %></p>

                <p class="price">
                  <span class="realized">成交价 <%= price(bid.realized_price) %>  </span><span class="additional-info"><%= bid.start_at.to_date if bid.start_at %>
                  · <a href=""><%= bid.organizer_name %></a></span>
                </p>
              </div>
            </div>
        <% end %>
    <% end %>


  </div>

  <%= will_paginate @bid_items,renderer: BootstrapPagination::Rails  if @bid_items%>
</div>
<div class="col-md-4 cat side">
  手机app的广告<br/>
  反馈入口
</div>