
  <style type="text/css">
      .container{ margin-top: 10px; }
      .navbar-inverse{ background-color: #325da7; border-color: #4e78c2;}
      .navbar-inverse .navbar-brand{ color: #fff; }
      .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
          color: #eee;
          background-color: #4e78c2;
      }
      .search {
          position: absolute;
          left: 50%;
          margin-left: -217px;
      }
      .item{
          min-height: 530px;
          border: 1px solid #ccc;
      }
      .item .images{
          width: 61.8%;
          border-right: 1px solid #ccc;
          min-height: 530px;
      }
      .item .texts{
          width: 38.2%;
          min-height: 530px;
          padding: 30px;
      }
      .item .texts .id{
          margin-bottom: 20px;
      }
      .item .texts .title{
          font-weight: bold;
      }
      .item .texts .desc{
          font-weight: bold;
          margin-top: 10px;
      }
      .item .texts .price-line{
          margin-top: 20px;
      }
      .item .texts .price-line .price{
          color: #d9534f;
          font-size: 18px;
          font-weight: bold;
          margin-right: 30px;
      }
      .item .images .big{
          padding: 20px;
          display: table-cell;
          height: 440px;
          width: 704px;
          text-align: center;
          vertical-align: middle;
      }
      .item .images .thumbs{
          padding: 7px;
          text-align: center;
          vertical-align: middle;
      }
      .item .images .thumbs img{
          margin-right: 10px;
      }
      .item .images .thumbs .active{
          border: 2px solid #d9534f;
          padding: 1px;
      }
      footer{ margin-top: 30px; color: #aaa; font-size: 12px; }
      /*#cnzz_stat_icon_5626282{ margin-right: auto; margin-left: auto; margin-bottom: 30px; padding-left: 15px; padding-right: 15px; max-width: 1170px; }*/
  </style>




  <div class="item clearfix">
    <div class="images pull-left">
      <div class="big"><%=image_tag @bid_item.small_img ,:size => "400x700" %></div>
      <div class="thumbs"></div>
    </div>
    <div class="texts pull-left">
      <div class="id"><%= @bid_item.organizer_name %> #100293</div>
      <div class="title"><%= @bid_item.lot %></div>
      <div class="desc">全品 · 轻微揭薄</div>
      <div class="price-line"><span class="price">￥<%= number_with_delimiter(@bid_item.realized_price.to_f) %></span><span class="time"><%=@bid_item.end_at.to_date  if @bid_item.end_at %> · <a href="">原始链接</a></span></div>
    </div>
  </div>




